{% extends 'app/base.html' %}
{% load i18n %}

{% block title %}{% trans 'User ratings' %}{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h2 class="mb-4">{% trans 'Your ratings for' %} {{ service.name }}</h2>

        <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for rating in ratings %}
            <div class="col">
                <div class="card h-100 d-flex flex-column">
                    <a href="{% url 'app:user-rating-edit' user_id=rating.user_id rating_id=rating.id %}">
                        <div class="ratio ratio-4x3">
                            <img src="{{ rating.page.image.url }}" alt="image" class="card-img-top img-fluid" style="object-fit: cover;">
                        </div>
                    </a>
                    <div class="card-body mt-auto">
                        <p class="card-text">{{ rating.created_at }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

        <div class="d-flex justify-content-center mt-4">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1" aria-label="First">
                                <span aria-hidden="true">&laquo;&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% endif %}

                    <li class="page-item disabled">
                        <span class="page-link">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
                    </li>

                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                                <span aria-hidden="true">&raquo;&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>

{% endblock %}